/* ============================================
   FUENTE LOCAL - OUTFIT
   ============================================ */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100; /* Thin */
  src: url("./Outfit/static/Outfit-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 200; /* ExtraLight */
  src: url("./Outfit/static/Outfit-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300; /* Light */
  src: url("./Outfit/static/Outfit-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("./Outfit/static/Outfit-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500; /* Medium */
  src: url("./Outfit/static/Outfit-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600; /* SemiBold */
  src: url("./Outfit/static/Outfit-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700; /* Bold */
  src: url("./Outfit/static/Outfit-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 800; /* ExtraBold */
  src: url("./Outfit/static/Outfit-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 900; /* Black */
  src: url("./Outfit/static/Outfit-Black.ttf") format("truetype");
}

:root {
  --font-main: "Outfit", sans-serif;
}
