body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #0A0A0F, #1E1E28);

}

.title {
  text-align: center;
}

main {
  margin-top: 130px;
}

.item img {
  border-radius: 10px;
  width: 120px;
  height: 120px;
}

iframe {
  border: 0;
}

main h1 {
  text-align: center;
  font-weight: 700;
  color: #FFC857; /* Amarillo suave */
  letter-spacing: 2px;
  text-shadow: 2px 2px 10px rgba(255, 200, 87, 0.4);
  margin: 40px 0;
  font-size: clamp(2rem, -1.5rem + 8vw, 3rem);
  animation: zoomIn 1s ease;
}

@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;

  
  color: #fff;
}

.tarjeta {
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: .3s ease;
  background: rgba(255, 255, 255, 0.08);
border: 1px solid rgba(255, 255, 255, 0.15);
color: #FFFFFF;

  backdrop-filter: blur(12px);
}

.tarjeta:hover {
  transform: translateY(-5px);
  
}

@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

h3 {
  color: #F7F7F7; /* Blanco cálido */
  font-weight: 600;
  letter-spacing: .5px;
}

p {
  color: #FF6B6B; /* rojo salmón suave para promociones */
  font-size: 1rem;
  margin: 5px 0;
}

.precio {
  font-weight: bold;
  color: #FFC857; /* amarillo suave */
  font-size: 1.2rem;
}

small {
   color: #C7D0D9; /* gris suave elegante */
  display: block;
  margin-top: 5px;
  font-size: .85rem;
}

.imgAnimacion {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.imgAnimacion:hover {
    transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 200, 87, 0.3); /* sombra amarilla suave */
}